<div class="col-md-4 welcome-tab my-auto s way-panel way-panel-inviteurl offset-md-4 ">
    <div class="col white-text text-center">
        <h3 class="display-3 font-weight-bold mb-0 pt-md-5 pt-5 way-logo way-logo-primary">WAY</h3>
        <hr class="hr-light my-4 w-75">
        <div class="col-md-12">
            <div class="form-row">
                <div class="col-md-10">
                    <input class="form-control btn-success" value="@ViewBag.InviteUrl" placeholder="" id="input-invite-url" />
                </div>
                <div class="col-md-2">
                    <span class="form-control btn btn-success">
                        <i class="fa fa-files-o" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <hr class="hr-light my-4 w-75">

        <div class="col-sm-12">
            <div class="form-row">
                <div class="col-md-10">
                    <span class="form-control btn btn-success" id="btn-generate-address">
                        NOVÉ SETKÁNÍ
                    </span>
                </div>

                <div class="col-md-2">
                    <span class="form-control btn btn-success" id="btn-select-nickname">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-light my-4 w-75">

</div>
