<section class="way-panel way-panel-room col text-center">
    <div class="col white-text text-center">
        <hr class="hr-light my-4 w-75">
        <div class="col">
            <div class="form-row">
                <div class="col-2 way-logo way-logo-mini">
                    WAY
                </div>
                <div class="col">
                    <input class="form-control" placeholder="" id="input-invite-url">
                </div>
                <div class="col-2">
                    <span class="form-control btn">
                        <i class="fa fa-files-o" aria-hidden="true"></i>
                    </span>
                </div>

            </div>
        </div>
        <hr class="hr-light my-4 w-75">


    </div>
    <hr class="hr-light my-4 w-75">

</section>
