<section class="way-panel way-panel-meet col text-center my-auto">
  <div class="col white-text text-center">
    <hr class="hr-light my-2 w-75">
    <div class="col">
      <div class="form-row">
        <div class="col-2 my-auto way-logo way-logo-mini" ng-click="state.closeMeet()">
          WAY 
        </div>
        <div class="col">
          <input class="form-control" [(ngModel)]="state.meetSettings.inviteUrl" />
        </div>
        <div class="col-2">
          <span class="form-control btn">
            <i class="fa fa-files-o" aria-hidden="true"></i>
          </span>
        </div>
      </div>  
    </div>
  </div>
  <hr class="hr-light my-2 w-75">

</section>

<!--<section class="way-panel way-panel-sidebar">
 <div class="panel">
   <table ng-repeat="position in state.currentMeet.positions">
     <tr>
       <td>{{position.user.nickname}}</td>
     <tr>
   </table>
 </div>
</section>-->
<section class="way-panel way-panel-map col text-center my-auto">
  <agm-map [latitude]="state.currentMeet.centerPoint.latitude"
           [longitude]="state.currentMeet.centerPoint.longitude">

    <agm-marker *ngFor="let m of state.currentMeet.positions; let i = index"
                [latitude]="m.location.latitude"
                [longitude]="m.location.longitude"
                [label]="m.user.nickname"
                [markerDraggable]="true">

      <agm-info-window>
        <strong>User: {{m.user.nickname}} </strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</section>
