<section class="way-panel way-panel-meet col text-center my-auto" *ngIf="currentMeet">
  <div class="col white-text text-center">
    <hr class="hr-light my-2 w-75">
    <div class="form-row">
      <div class="col-2 my-auto way-logo way-logo-mini" (click)="closeMeet()">
        WAY
      </div>
      <div class="col">
        <input class="form-control" [(ngModel)]="currentMeet.meet.inviteUrl" *ngIf="currentMeet"/>
      </div>
      <div class="col-2">
        <span class="form-control btn" (click)="copyInviteUrl()">
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </span>
      </div>
      <div class="col-2">
        <span class="form-control btn" (click)="openUsersList()">
          <i class="fa fa-address-book-o" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    </div>
  <hr class="hr-light my-2 w-75">
</section>

<section class="way-panel way-panel-map col text-center my-auto">
  <agm-map [latitude]="currentMeet.centerPoint.latitude"
           [zoom]="currentMeet.zoomLevel"
           [longitude]="currentMeet.centerPoint.longitude" *ngIf="currentMeet">

    <agm-marker *ngIf="currentMeet.currentUser"
                [latitude]="currentMeet.currentUser.location.latitude"
                [longitude]="currentMeet.currentUser.location.longitude"
                [markerDraggable]="true"
                [iconUrl]="currentUserMarkerIcon">

      <agm-info-window>
        <strong>Vy: {{currentMeet.currentUser.nickname}} </strong>
      </agm-info-window>
    </agm-marker>

    <agm-marker *ngFor="let m of currentMeet.users; let i = index"
                [latitude]="m.location.latitude"
                [longitude]="m.location.longitude"
                [label]="m.user.nickname"
                [markerDraggable]="true"
                [iconUrl]="usersMarkerIcon">

      <agm-info-window>
        <strong>Uživatel: {{m.user.nickname}} </strong>
      </agm-info-window>

    </agm-marker>
  </agm-map>
</section>
