@{
    ViewData["Title"] = "Index";
}

<h2>Název místnosti</h2>

<div>
    <h4>Current</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
