<div class="row h-100">
  <div class="col-4 side-columns"></div>
  <div class="col my-auto">
    <section class="way-panel way-panel-inviteurl text-center">
      <h3 class="display-3 font-weight-bold way-logo way-logo-primary">WAY</h3>
      <hr class="hr-light my-4 w-75">
      <div class="col">
        <div class="form-row">
          <div class="col">
            <input class="form-control" placeholder="Vytvořte si nové setkání a pošlete odkaz přátelům" [(ngModel)]="state.meetSettings.inviteUrl" />
          </div>
          <div class="col-2">
            <span class="form-control btn" (click)="copyInviteUrl()">
              <i class="fa fa-files-o" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <hr class="hr-light my-4 w-75">
      <div class="col">
        <div class="form-row">
          <div class="col">
            <span class="form-control btn" (click)="generateMeet()">
              NOVÉ SETKÁNÍ
            </span>
          </div>
          <div class="col-2">
            <span class="form-control btn" routerLink="/select-nickname" >
              <i class="fa fa-sign-in" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <hr class="hr-light my-4 w-75">
    </section>
  </div>
  <div class="col-4 side-columns"></div>
  </div>
