<div class="row h-100">
  <div class="col-4 side-columns"></div>
  <div class="col my-auto">
    <section class="way-panel way-panel-nickname col text-center">
      <div class="col white-text text-center">
        <h3 class="display-3 font-weight-bold white-text way-logo way-logo-primary">WAY</h3>
        <hr class="hr-light my-4 w-75">
        <div class="col">
          <img src="assets/loader.svg" alt="loader" width="280" height="25" />
          <hr class="hr-light my-4 w-75">
          <strong class="info font-weight-bold white">{{message}}</strong>
          <hr class="hr-light my-4 w-75">
          <div class="row">
            <a class="col form-control btn m-2" routerLink="/open">Zkusit znovu</a>
            <a class="col form-control btn m-2" routerLink="/">Zavřít setkání</a>
          </div>
        </div>
      </div>
      <hr class="hr-light my-4 w-75">
    </section>
  </div>
  <div class="col-4 side-columns"></div>
</div>
